/* #defaultAnimation > #submitButton{
    transition: width 1s, height 1s;
    transition-delay: 0.2s;
}
#submitButtonTick{
    transition: width 1s height 1s;
    width: 1px;
    height: 1px;
}
/* #submitButtonCross{
    visibility: hidden;
    width: 1px;
    height: 1px;
    transition: width 1s height 1s;
} */ 
@keyframes growAnimation {
    0% {width: 1px; height: 1px;}
    50% {width: 25px; height: 25px;}
    100% {width: 1px; height: 1px;}
}
@keyframes buttonPressAnimation {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}

#submitButtonTick{
    animation-name: growAnimation;
    animation-duration: 4s;
}

#submitButtonCross{
    animation-name: growAnimation;
    animation-duration: 4s;
}

#updated{
    animation-name: buttonPressAnimation;
    animation-duration: 3s;
}
/* #successAnimation > #submitButtonTick{
    color: #198754;
    width: 70px;
    height: 70px;
    transition: width 1s, height 1s;
    transition-delay: 0.2s;
}

#failedAnimation > #submitButton{
    width: 100%;
    background-color: #FF5252;
    border: solid 1px #FF5252;
    transition: width 1s;
} */
/* #failedAnimation > #submitButtonCross{
    color: #FF5252;
    width: 70px;
    height: 70px;
    transition: width 1s, height 1s;
    transition-delay: 0.2s;
} */